@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,200;1,9..144,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fraunces", serif;
    font-style: normal;
}
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/* header code starts here */
header{
    z-index: 100;
    width: 100%;
    height: auto;
    font-family: 'calibri',sans-serif;
    position: fixed;
    background-color:#B8C2CC;
}
.nav-container{
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0,0, 0.1);
    height: 60px;
}
.nav-links-container{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    align-items: center;
}
.nav-links{
    display: inline-block;
    margin-right: 1rem;
    padding: 25px;
    border-bottom: 4px solid transparent;
}
.nav-links:hover{
    border-bottom: 4px solid #000;
}
.nav-link-item{
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: #000;
}
#bars{
    font-size: 40px;
    margin-right: 10px;
    display: none;
}
#close{
    font-size: 40px;
    margin-right: 10px;
    display: none;
}
.logo {
    width: 100px;
    height: 100px;
    background-image: url('logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 40px;
}
.learn_btn .nav-link-item{
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 18px;
    letter-spacing: 3px;
    font-weight: normal;
}
.learn_btn .nav-link-item:hover{
    background-color: orangered;
}
/* header code ends here */

/* hero section code starts here */
.section{
    width: 100%;
    height: 600px;
    display: flex;
    background: linear-gradient(120deg,#FDF1F1,#A8D5BA,#FDF1F1);
    padding-top: 80px;

}
.box{
    width: 50%;
    height: 450px;
    position: relative;
    animation: car 5s infinite;
}
@keyframes car{
    0%{top: 0;right: -200px;}
    20%{top: 0;right: 0;}
    100%{top: 0;right: 0;}
}
.content-box{
    width: 50%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-box h1{
    font-size: 40px;
    letter-spacing: 2px;
    padding: 20px;
    color: black;
    font-weight: bold;
}
.content-box p{
    margin-left: 40px;
    margin-right: 20px;
    text-align: justify;
    line-height: 30px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2.5px;
    font-weight: normal;
    color: black;
    font-weight: bold;
}
.cta-button{
    background-color: black;
    color: white;
    padding: 12px;
    font-size: 18px;
    letter-spacing: 3px;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 20px;
}
.cta-button:hover{
    background-color: silver;
    color: black;
}
/* hero section code ends here */


/* service section code stats here */
.services-section {
    padding: 50px;
    background-color: #f7f7f7;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.services-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.service-box {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease;
}

.service-box:hover {
    transform: translateY(-10px);
}

.service-box i {
    font-size: 40px;
    color: #000;
    margin-bottom: 10px;
}

.service-box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.service-box p {
    font-size: 1rem;
    color: #666;
}
/* services section code ends here */

/* feature car section code starts here */
.featured-cars-section {
    padding: 50px;
    text-align: center;
    background-color: #E8F0FF;
}

.featured-cars-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.featured-cars-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: auto;
}

.featured-car {
    background: linear-gradient(190deg, #FDF1F1, #A8D5BA);
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.featured-car:hover{
    transform: scale(1.05);
}
.featured-car img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.featured-car h3 {
    font-size: 1.5rem;
    margin: 15px 0;
}

.featured-car p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
}
.btn-primary{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 15px;
    letter-spacing: 4px;
    color: silver;
    font-weight: bold;
    margin: 20px;
}

.btn-primary:hover {
    background-color: darkorange;
}
/* Search/Filter Section Styles */
.search-filter-section {
    padding: 10px;
    background: linear-gradient(45deg,#A8D5BA,#FDF1F1,#E8F0FF);
    text-align: center;
    border-bottom: 5px solid #007bff;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3);
}

.search-filter-section h2 {
    font-size: 2rem;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form label {
    margin-bottom: 5px;
    font-size: 1rem;
}

.search-form input {
    margin-bottom: 5px;
    margin: 5px;
    padding: 5px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-form button {
    text-decoration: none;
    background-color: black;
    border: none;
    color: white;
    padding: 8px;
    font-size: 15px;
    letter-spacing: 4px;
    color: silver;
    font-weight: bold;
    margin: 20px;
}

.search-form button:hover {
    background-color: darkorange;
}

/* Contact Section Styles */
.contact{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #ABD6BC;
}
.contact .contact-section{
    width: 50%;
    height: 400px;
    margin-left: 20px;
}
.contact-section h2 {
    font-size: 2rem;
    color: #666;
    margin-top: -60px;
    margin-bottom: 10px;
}
.contact-section p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 30px;
    font-weight: bold;
}

.contact-section i {
    margin-right: 10px;
}

.contact-section a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 8px;
    font-size: 15px;
    letter-spacing: 4px;
    color: silver;
    font-weight: bold;
    margin: 40px;
}

.contact-section a:hover {
    background-color: darkorange;
}

.map{
    width: 50%;
    height: 400px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map iframe{
    width: 100%;
    height: 300px;
}

/* inventory page code starts here */
.featured {
    background-color:#E8F0FF;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.featured:hover{
    transform: scale(1.05);
}
.featured img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.featured h3 {
    font-size: 1.5rem;
    margin: 15px 0;
}

.featured p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
}

/* services page code starts here */
.service_section{
    width: 100%;
    height: auto;
    background-color: #E8F0FF;
    padding-top: 80px;
    padding-bottom: 20px;
}
.service_section img{
    width: 100%;
    height: 600px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.service_section h1{
    padding: 10px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    left: 20%;
}
.service-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
}

.service-item {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    width:48% ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.service-item img {
    width: 100%;
    height: 300px;
    display: block;
}

.service-item h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 15px 0;
}

.service-item p {
    font-size: 1rem;
    color: #666;
    padding: 0 15px 15px;
    font-size: 19px;
    letter-spacing: 1.5px;
    text-align: justify;
}

.service-item:hover {
    transform: scale(1.05);
}
.card h2{
    color: black;
}
.card p {
    font-size: 19px;
    letter-spacing: 1.5px;
    text-align: justify;
    font-weight: 400;
    line-height: 30px;
    color: black
  }
  
  .card p.small {
    font-size: 14px;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #00838d;
    border-radius: 0 4px 0 32px;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
  }
  
  .card1 {
    display: block;
    position: relative;
    max-width: 500px;
    background-color: #fff;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .card1 i{
    font-size: 50px;
    color:black;
  }
  .card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
  }
  .main_card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
  }
  .card1:hover:before {
    transform: scale(21);
  }
  
  .card1:hover p {
    transition: all 0.3s ease-out;;
  }
  
  .card1:hover h3 {
    transition: all 0.3s ease-out;
    color: #fff;
  }
  /* inventory page code starts here */
.inventory_section{
    width: 100%;
    height: auto;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.inventory_section h1{
    width: 100%;
    padding: 10px;
    background-color:#F2F8F9;
    text-align: center;
    font-size: 30px;
    color: black;
} 
.featured{
    background: linear-gradient(190deg, #FDF1F1, #A8D5BA);
}
/*start about us page coding */
.main_section{
    height: auto;
    background-color: #E8F0FF;
    padding-top: 40px;
}
.about-us-section, .our-values-section, .our-team-section {
    padding: 50px 20px;
    background-color: #E8F0FF;
}
.about-us-section{
    height: 600px;
    background-image: url('https://img.freepik.com/premium-photo/car-service-website-online-booking-repair-automobile-snugly_31965-524863.jpg?w=826');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.container h2, h3 {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    color: black;
}
.about-us-section h1{
    padding: 10px;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 60px;
}
.about-us-section p {
    color:black;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 1.6;
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}

.our-values-section .values-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.value-item {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.value-item:hover{
    transform: scale(1.02);
}

.value-item i {
    font-size: 2rem;
    color: orangered;
    margin-bottom: 10px;
}

.our-team-section .team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.team-member {
    text-align: center;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.team-member:hover{
    transform: scale(1.04);
}

.team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 15px;
}
/* contact page code starts here */
.contact-section {
    width: 100%;
    height: auto;
    padding: 100px 20px;
    background-color: #ABD6BC;
}

.contact_container {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('https://t4.ftcdn.net/jpg/02/69/27/55/360_F_269275503_fL3Dx8hgvCDgrnuvbm8XLPHJ461QIM4o.jpg');
    text-align: center;
    padding: 100px 20px;
    position: relative;
}

.contact_container h1 {
    color: white;
    margin-bottom: 20px;
    margin-top: 50px;
}
 .contact-item h2, h3 {
    color: #333;
    margin-bottom: 20px;
}

.container p {
    margin-bottom: 20px;
    font-size: 1.5rem;
}
#para{
    color:white;
    letter-spacing: 1.5px;
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 50px;
}

.contact-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}
.contact-item:hover{
    transform: scale(1.05);
}

.contact-item i {
    font-size: 2rem;
    color: black;
    margin-bottom: 10px;
}
.contact_info2{
    width: 100%;
    height: auto;
    display: flex;
}

.contact-form {
    background-color: #fff;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin: 0 auto;
    text-align: left;
}
.map{
    width: 50%;
    height: 550px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.map iframe{
    width: 100%;
    height: 500px;
}

.contact-form h2{
    text-align: center;
    padding: 20px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus{
            border-color: #007bff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }
.contact-form button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}
.contact-form button:hover {
    background-color: orangered;
}
/* Footer Styles */
footer {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: white;
}
#footer_text{
    font-size: 20px;
    margin-top: 20px;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.5px;
}
.f-1{
    width: 25%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.f-1 h4{
    font-size: 25px;
}
.f-1 .footer-nav-links-container{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.footer-nav-link-item{
    color: white;
    font-size: 1rem;
    text-decoration: none;
}
.footer-nav-link-item:hover{
    color: aqua;
}
.footer-nav-links{
    margin: 10px;
    padding: 0;
}
.f-2{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.f-2 h4{
    font-size: 25px;
}
.f-2 p{
  margin-top: 30px;
}
.f-4{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
.f-4 h4{
    text-align: center;
    margin-bottom: -10px;
    font-size: 25px;
    color: white;
}
.f-3{
    width: 25%;
    text-align: right;
    margin-right: 90px;
}
.socials {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.f-3 h4{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: color 0.3s ease;
}

.socials a:hover {
    color: aqua;
}

/* feature car section code ends here */
/* Responsive Design */
@media (max-width: 1024px) {
    .nav-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .main_card {
        grid-template-columns: repeat(2, 1fr);
    }
    .featured-cars-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 768px) {
    body,html{
        overflow-x: hidden; 
    }
    header{
    width: 100%;
    height: auto;
    font-family: 'calibri',sans-serif;
    position: static;
    background-color: coral;
    }
    .nav-container{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0,0, 0.1);
    height: auto;
    }
    .responsive_bar{
        display: flex;
        align-items: center;
    }
    #bars{
        display: block;
        text-align: center;
    }
    #close{
        display: none;
        text-align: center;
    }
    .learn_btn{
        margin-bottom: 40px;
    }
    .service-item{
        width: 80%;
    }
    .nav-links-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 200px;
        display: none;
        background-color: #B8C2CC;
    }
    .logo{
        margin-right: 120px;
    }
    .nav-links:hover{
        border-bottom: none;
    }
    .section{
        padding-top: 300px;
        margin-bottom: -200px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact{
        display: flex;
        flex-direction: column;
    }
    .map{
        width: 100%;
    }
    .contact-section{
        width: 100%;
        height: auto;
    }
    .content-box h1{
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
        font-size: 25px;
        text-align: center;
    }
    .content-box p{
        width: 80vw;
        margin-left: 0;
        margin-right: 0;
        font-size: 14px;
    }
    .box img{
        width: 400px;
        height: 450px;
        margin-right: 60%;
        margin-top: -320px;
    }
    .cta-button{
        margin-top: 300px;
    }
    .nav-link-item:hover{
        color: #333;
    }
    .service_section{
        margin: 0;
        padding-top: 0;
        padding-bottom: 20px;
    }
    .main_section{
        margin: 0;
        padding: 0;
    }
    .service-container{
        grid-template-columns: 1fr;
    }
    .search-form{
        flex-direction: column;
    }
    .main_card{
        grid-template-columns: 1fr;
    }
    .featured-cars-container{
        grid-template-columns: 1fr;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .featured-car{
        width: 80vw;
        margin-bottom: 10px;
    }
    .featured-car img{
        height: 150px;
    }
    .featured{
        margin-bottom: 10px;
    }
    .featured img{
        height: 150px;
    }
    .btn-primary{
        padding: 4px;
    }
    .our-values-section .values-grid{
        grid-template-columns: 1fr;
    }
    .our-team-section .team-grid{
        grid-template-columns: 1fr;
    }
    .contact-info{
        grid-template-columns: 1fr;
    }
    .contact_info2{
        flex-direction: column;
    }
    .contact-form{
        width: 100%;
    }
    .footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
